<% provide :title ,"Site Nameについて" %>
<% provide :about_active ,"active" %>

  <div class="container">
    <div class="h1">Site Nameについて</div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, fugiat corporis reiciendis velit mollitia, expedita consequuntur! Optio asperiores amet accusantium magni, qui quasi aspernatur placeat minus quis ratione, autem nulla.</p>

  </div>